@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

.clear-btn {

    width: 20%;
    height: calc(60 / 1440 * 100vw);
    border: 1px solid rgb(198, 104, 4);
    background-color: rgba(221, 78, 1, 0.781);
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: calc(24 / 1440 * 100vw);
    position: absolute;
    right: 40%;
    top: calc(10 / 1440 * 100vw);
    

    &:active {
        background-color: rgb(82, 166, 4);
        transform: translateY(-2px);
        color: rgb(255, 34, 5);
    }
}

.total-price {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: calc(24 / 1440 * 100vw);
    margin-left: calc(10 / 1440 * 100vw);
}

.basket-empty {
    text-align: center;
}