
$labelFontSize: calc(10 / 1440 * 100vw);
$inputFontSize: calc(14 / 1440 * 100vw);
$inputFontSizeSearch: calc(18 / 1440 * 100vw);
$titleCard: calc(22 / 1440 * 100vw);
$titleBigCard: calc(32 / 1440 * 100vw);