@import './base.scss';

.wrapper {
    max-width: 1440px;
    padding: calc(20 / 1440 * 100vw) 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(40 / 1440 * 100vw);
}


@media (max-width: 1024px) {
    .wrapper {
        column-gap: calc(100 / 1024 * 100vw);
        padding: calc(120 / 1024 * 100vw) calc(80 / 1024 * 100vw);
    }
}