@import '../style/base.scss';
@import '../style/color';
@import '../style/size';
@import '../style/body.scss';
@import '../style/wrapper.scss';

.card {
    font-family: 'Inter';
    font-weight: 700;
    position: relative;
    height: calc(490 / 1440 * 100vw);
    width: calc(250 / 1440 * 100vw);
    background-color: $lightGrey;
    box-shadow: 4px 4px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    text-decoration: none;
    z-index: 1;


    &:hover {
        scale: 1.02;
        transform: translateY(-5px);
        background-color: #d0c3c3;
        box-shadow: 10px 10px 10px 0px hsla(0, 0%, 0%, 0.298);
    }
}

.linkCard {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.card-foto {
    margin-bottom: calc(1 / 375 * 100vw);
    height: calc(350 / 1440 * 100vw);
    overflow: hidden;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: $titleCard;
    padding: 0 calc(10 / 420 * 100vw);
    text-align: center;
    margin-bottom: 8px;
    color: $dark;
}

.card-rating {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: $inputFontSize;
    color: $red;
}

.by-product {
    width: 40%;
    height: 6%;
    border: 1px solid orange;
    background-color: rgba(250, 168, 16, 0.781);
    border-radius: 8px;
    align-self: center;
    position: absolute;
    left: calc(2 / 1440 * 100vw);
    bottom: calc(30 / 1440 * 100vw);
    cursor: pointer;
    transition: all .3s ease;

    &:active {
        background-color: rgb(255, 166, 0);
        transform: translateY(-2px);
        color: rgb(5, 255, 5);
    }
}